@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

td,
th {
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 12px;
  min-width: 55px;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
